@import url(https://fonts.googleapis.com/css?family=Montserrat:700);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Noto Sans TC', 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    color: #001A33;
    webkit-tap-highlight-color: #222;
    top: 0;
}

header h1 {
    padding-bottom: 50px;
}

* {
    box-sizing: border-box;
}

.link-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

.s-block-box {
    max-width: 1170px;
    margin: 0 auto;
    padding: 100px 50px;
    color: #454545;
}

.s-block {
    width: 33.3333%;
    padding: 20px;
    float: left;
}

.s-box-img {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.s-name {
    padding: 15px;
    text-align: center;
}

.w-name {
    font-size: 1.2rem;
    color: #2a8590;
    margin-bottom: 10px;
}

.w-name a {
    color: #2a8590;
}

.s-box {
    padding-bottom: 0px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 15px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 5px;
    overflow: hidden;
}

.clearfix {
    clear: both;
}

.footer-img {
    padding-bottom: 10px
}

.w-title {
    text-align: center;
    /*padding: 100px 0 0px;*/
    color: #454545;
    font-size: 2.5rem;
}

.w-title h2 {
    font-size: 2.5rem;
}

.separator-s {
    width: 50px;
    border-bottom: 5px solid #ffc107;
    margin: 50px auto 0;
}

footer {
    color: #FFF;
}


/* workaround modal-open padding issue */

body.modal-open {
    padding-right: 0 !important;
}

hr {
    max-width: 120px;
    border-width: 3px;
    opacity: 0.08;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.light {
    border-color: #fff;
    opacity: 1;
}

hr.primary {
    border-color: #007FFF;
    opacity: 1;
}

a {
    color: #007FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    color: #222;
    outline: 0;
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
    font-family: 'Noto Sans TC', 'Helvetica Neue', Arial, sans-serif;
}

.text-normal {
    font-family: 'Noto Sans TC', 'Helvetica Neue', Arial, sans-serif;
}

.wide-space {
    letter-spacing: 1.6px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #007FFF;
}

.bg-alt {
    background-color: #fff;
}

.text-faded {
    color: rgba(245, 245, 245, 0.7);
}

.text-dark {
    color: #001A33;
}

.text-light {
    color: #fff;
}

.text-light:hover,
.text-light:focus {
    color: #eee;
    text-decoration: none;
}

.text-primary {
    color: #007FFF;
}

section {
    padding: 70px 0;
}

aside {
    padding: 45px 0;
}

footer {
    padding: 45px;
    padding-top: 40px;
    background-color: #454545;
    text-align: center
}

footer h4,
footer h6 {
    color: #fff;
}

.navbar-default {
    /*border-color: rgba(35, 35, 35, .05);*/
    /*background-color: #fff;*/
    /*background-color: transparent;*/
    /*background: rgba(33, 33, 33, 0.9);*/
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
    position: absolute;
}

.navbar-brand {
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #007FFF;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #001A33;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .nav>li>a,
.navbar-default .nav>li>a:focus {
    font-size: 16px;
    /*color: #001A33;*/
    color: #999;
    text-transform: uppercase;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    /*color: #007FFF;*/
    color: #FFF;
}

.navbar-default .nav .nav-link.active,
.navbar-default .nav .nav-link.active:focus {
    /*color: #007FFF !important;*/
    color: #FFF !important;
    background-color: transparent;
}

.navbar-toggler {
    color: #FFF;
}

.logo {
    width: 150px;
    max-width: 100%;
    display: inline-block;
    height: auto;
}


/* responsive nav */

@media(max-width:48em) {
    .navbar-default .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar-default .navbar-nav {
        float: none !important;
    }
    .navbar-default .navbar-brand img {
        display: inline;
    }
    .navbar-toggler {
        float: left;
    }
}

@media(min-width:48em) {
    .navbar-default {
        border-color: transparent;
        /*background-color: #fff;*/
        min-height: 60px;
    }
    .navbar-brand {
        padding: 12px;
    }
    .navbar-default .navbar-brand:hover,
    .navbar-default .navbar-brand:focus {
        color: #001A33;
    }
    .navbar-default .nav>li>a,
    .navbar-default .nav>li>a:focus {
        color: #fff;
        /*color: #001A33;*/
        padding-left: 5px;
        padding-top: 21px;
        letter-spacing: 1.1px;
    }
    .navbar-default .nav>li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        /*color: #001A33;*/
        color: #999;
    }
    .nav-masthead {
        float: right;
    }
    /*#topNav {
        background-color: #fff;
    }*/
}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    /*color: #001A33;*/
    color: #fff;
    width: 100%;
    /*background-color: #fff;*/
    background: url(../images/b1-2.jpg) no-repeat;
    background-size: cover;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
}

@media(min-width:34em) {
    .icon-lg {
        font-size: 80px;
    }
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .inner h1 {
        font-size: 53px;
    }
    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
    section {
        min-height: 600px;
        padding: 100px 0;
    }
}

.la-wrapper-box {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 2rem;
    z-index: 0;
}

.la-wrapper-box:nth-child(2) {
    width: 50%;
    background: rgba(238, 179, 34, 0.8);
    right: 0;
}

.list-group-item,
.card-footer {
    background-color: transparent;
}

textarea {
    resize: none;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.btn.btn-primary {
    background-color: transparent;
    border: 1px solid #007FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color: #007FFF;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn-primary-outline {
    border-color: #ffc107;
    color: #ffc107;
}

.btn-primary-outline:hover {
    background-color: #ffc107;
    color: #fff;
}

.btn-xl {
    padding: 10px 50px;
    font-size: 15px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

@media(max-width:1024px) {
    .s-block {
        width: 50%;
    }
}

@media(max-width:768px) {
    .s-block {
        width: 100%;
    }
    .navbar-toggler {
        display: none
    }
    .navbar-brand {
        float: none;
    }
    #topNav {
        text-align: center;
        padding: 20px 0;
    }
}