@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    margin: 0;
}

.fullscreen {
    height: 100vh;
    position: relative;
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.clock {
    position: absolute;
    z-index: 99;
}

#time_left {
    margin: 20px;
    font-size: 4em;
    font-family: courier;
    color: #bbb;
    cursor: pointer;
}

img {
    width: 100%;
}

ul {
    margin: 20px;
    font-size: 1.5rem;
    padding: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
    cursor: pointer;
}

li {
    margin: 5px 0;
    list-style: none;
    color: white;
    background-color: #c25f60;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.clock:hover>ul {
    opacity: 1;
}

.team-data {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 3px;
    background: #fff;
    z-index: 11;
    width: 150px;
    font-family: 'Noto Sans TC', 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
}